.whole{
 background-image: url(../Assets/Images/86.jpg);
 background-repeat: no-repeat;
 background-size: cover;
  height: 730px;
}
.row{
display: flex;
flex-direction: row;
width: 100%;
}
.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  }
.colom{
  display: flex;
  flex-direction: column;
  margin-right:-8%;
  width: 50%;
}
.color{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-right: 10%;
 width: 94%;
  background-color: rgba(150, 207, 213, 0.82);
  padding: 40px;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.s1{
  display: flex;
  width: 50%;
}
.cont{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
background-color: white;
border-radius: 2%;
width: 40%;
}
.cont h2{
  font-size: 19px;
}
.v{
    color: rgba(150 207 213 / 82%) ;
   font-size: 80px;
   
   align-content: center;
   text-align: center;
}



*****
.color h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  
}

.color .user-box {
  position: relative;
  display: flex;
  justify-content: center;

}

.color .user-box input {
  width: 80%;
  padding: 10px 0;
  font-size: 22px;
  color: rgb(0, 0, 0);
 
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  
 
}

.color .user-box textarea {
  width: 80%;
  padding: 10px 0;
  font-size: 22px;
  color: rgb(0, 0, 0);
 
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
 
}



.color .user-box label {
  position: relative;
  top:0;
  left: 0;
 
  font-size: 20px;
  color: rgb(0, 0, 0);
  pointer-events: none;
  transition: .5s;
  margin-left: 2%;

}
.color h1{
  text-align: center;
}
.color form button {
 
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  
  color: #000000;
  font-size: 23px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  width: 40%;
  margin-right: 25%;
}

.color button:hover {
  background:  #c9e6ff;
  color: rgb(14, 13, 13);
  border-radius: 5px;
  box-shadow: 0 0 5px #7b8582,
              0 0 25px #7b8582,
              0 0 50px #7b8582,
              0 0 100px #7b8582;
}

.color button span {
  position: absolute;
  display: block;
}

.color button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000000);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.color button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #050505);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.color button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #000000);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.color a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #000000);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}








@media screen and (max-width: 960px) {
  .whole{
    background-color: rgba(89, 106, 107, 0.082);
    width: 100%;
    height: 1250px;
  }
  .row{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    }
    .colom{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: -10%;
      z-index: 1;
    }
    .row2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 2%;
     margin-right: 12%;
      width: 100%;
      }
      .cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      background-color: white;
      border-radius: 2%;
      width: 45%;
      
      }
      .cont h2{
        font-size: 10px;
      }
      .color{
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        margin-right: 8%;
       width: 94%;
        background-color: rgba(150 207 213 / 82%);
        padding: 40px;
        justify-content: center;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
      }
      .color h1{
       margin-top: 5%;
      }
      .s1{
        display: flex;
        width: 100%;
       
      }
    
      .v{
          color: rgba(150 207 213 / 82%) ;
         font-size: 80px;
       
   align-content: center;
   text-align: center;
      }
      .color form a {
 
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #000000;
        font-size: 23px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        
        width: 40%;
        margin-right: 30%;
      }
}